.title-t{
    text-align: center;
    margin-left: 40px;
}
.item-container-t{
    margin-left: 10px;
}
.labels{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    color: black
}
.divider-t1{
    background-color: rgb(247, 208, 164);
}
.divider-t2{
    background-color: rgb(157, 214, 244);
}
.divider-t3{
    background-color: rgb(151, 241, 156);
}