.grid-td{
    margin-top: 10px;
}
.row-td{
    padding: 15px;
    justify-content: center;
}
.img-td{
    height: 150px;
    width: 90%;
}
.labels-td{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    margin-left: 8px;
}
.item-td{
    width: 80%;
}
.button-td{
    margin: 0 auto;
    height: 30px;
    width: 100px;
}