.col{
    padding: 0px;
    margin-bottom: 10px;
}
.titles{
    padding: 20px;
}
.labels{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}